<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="editRecipeForm" (ngSubmit)="onRecipeSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" [disabled]="!editRecipeForm.valid" class="btn btn-success">Save</button>
                    <button type="button" class="btn">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Recipe Name</label>
                        <input type="text" formControlName="name" id="name" class="form-control">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imageUrl">Recipe Img Url</label>
                        <input type="text" formControlName="imagePath" id="imageUrl" class="form-control">
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea id="description" formControlName="description" class="form-control" type="text" rows="6"></textarea>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row" *ngFor="let ingrContl of editModeIngre; 
                    let i=index" [formGroupName]="i" style="margin-top: 10px">
                        <div class="col-xs-8">
                            <input formControlName="name" id="ingredient" class="form-control" type="text">
                        </div>
                        <div class="col-xs-2">

                            <input formControlName="amount" id="amount" class="form-control" type="number">
                        </div>
                        <div class="col-xs-2">

                            <button class="btn btn-danger">X</button>
                        </div>
                    </div>
                    <hr>
                    <div class="col-xs-12">
                        <div class="row">
                            <button type="button" (click)="onNewIngreClick()" class="btn btn-success">New Ingredient</button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>